/**
 * Life would be meaningless without style
 */
html, body { background-color: #242d48; }
.page-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
}
.page-header {
    position: relative;
    margin-top: 15px;
    border: none;
}
.page-title {
    text-shadow: 1px 2px 0px #ccc;
    margin: 0 auto 10px;
}
.header-line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
.main-content {
    border: 1px solid #ccc;
    background-image: url('/images/light_toast.png');
}
.uni-links li {
    margin-bottom: 5px;
    display: block;
}
.uni-links a {
    display: block;
    border: 1px solid white;
}
.uni-links a:hover {
    border-color: #337ab7;
}
.copy-cnt {
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -3px 10px -5px;
    margin-top: 20px;
}
.content-tab-cnt {
    background-color: #efefef;
}
.event__details {
    color: red;
    font-weight: bold;
}
.header__image {
    height: 300px;
    background-image: url('/images/la_scuola_di_atene.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px solid #000;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.year-name, .city-name { font-weight: bold; }
#about { padding: 10px 60px; }
.event__subtitle { font-style: italic; }
.page-footer {
    background-color: #ddd;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    box-shadow: 0 3px 10px -5px inset;
}
.scroll-to-top {
    position: fixed;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: #eee;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #ddd;
    z-index: 999;
    right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.no-padding { padding: 0 !important; }
.col-uni { padding: 3px !important; }
.btn-older-events {
    font-size: 20px;
    font-weight: 500;
}
.page-version {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    color: #ccc;
}
@media (max-width: 795px) {
    .header__image { height: 250px; }
}
@media (max-width: 635px) {
    .header__image { height: 150px; }
}
@media (max-width: 385px) {
    .header__image { border-bottom-width: 0px; }
}
