html, body {
    background-color: #242d48;
}
.page-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
}

.page-header {
    margin-top: 15px;
    // border-bottom: 1px solid #eee;
    border: none;
}

.page-title {
    margin: 0 auto 10px;
}

.header-line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.main-content {
    border: 1px solid #ccc;
    background-image: url('/images/light_toast.png');
}
.uni-links li {
    height: 40px;
    margin-bottom: 20px;
}
.content-tab-cnt {
    background-color: #efefef;
}
.event__details {
    color: red;
    font-weight: bold;
}
.header__image {
    height: 300px;
    background-image: url('/images/raphael.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px solid #eee;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

@media (max-width: 795px) {
    .header__image {
        height: 250px;
    }
}
@media (max-width: 635px) {
    .header__image {
        height: 150px;
    }
}

@media (max-width: 385px) {
    .header__image {
        border-bottom-width: 0px;
    }
}
