<!DOCTYPE html>
<html>
<head>
    <title>Mathematics talks in Greece</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="page-container container-fluid">
        <header class="page-header">
            <h1 class="text-center page-title">Mathematics talks in Greece</h1>
            <div class="text-center">
                <p>A website aiming to present the wide scope of the mathematics talks being given in Greece.</p>
            </div>
            <!-- <hr class="header-line"> -->
            <div class="row text-center header__image"></div>
        </header>
        <main class="page-main container-fluid">
            <div class="row">
                <div class="hidden-xs col-sm-2 col-md-2">
                    <ul class="list-unstyled uni-links">
                        <li><a href="http://noether.math.uoa.gr/" target="_blank" title=""><img class="img-responsive" src="/images/uoa.png" alt="Athens"></a></li>
                        <li><a href="http://www.math.auth.gr/" target="_blank" title=""><img class="img-responsive" src="/images/auth.png" alt="Thessaloniki"></a></li>
                        <li><a href="http://www.math.uoc.gr/el/index.php" target="_blank" title=""><img class="img-responsive" src="/images/uoc.png" alt="Crete"></a></li>
                        <li><a href="http://www.math.upatras.gr/" target="_blank" title=""><img class="img-responsive" src="/images/upatras.png" alt="Patras"></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 main-content container-fluid">
                    <div class="row content-tab-cnt">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">Conferences</a></li>
                                <li><a href="#">Seminars</a></li>
                                <li><a href="#">Research areas</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="js_events events">
                            <h3 class="js_upcoming_events_heading">Upcoming</h3>
                            <ul class="events__list js_events_list js_upcoming_events_list"></ul>
                            <h3 class="js_past_events_heading">Past</h3>
                            <ul class="events__list js_events_list js_past_events_list"></ul>
                            <h3>Seminars</h3>
                            <ul class="events__list js_events_list js_seminars"></ul>
                        </div>
                        <div class="js_about about hide">
                            blah blah blah
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2">
                    <ul class="list-unstyled uni-links">
                        <li><a href="http://www.semfe.ntua.gr/el/" target="_blank" title=""><img class="img-responsive" src="/images/ntua.png" alt="SEMFE"></a></li>
                        <li><a href="http://www.math.uoi.gr/" target="_blank" title=""><img class="img-responsive" src="/images/uoi.png" alt="Ioannina"></a></li>
                        <li><a href="http://www.math.aegean.gr/in/" target="_blank" title=""><img class="img-responsive" src="/images/aegean.png" alt="Samos"></a></li>
                        <li><a href="https://www.ucy.ac.cy/mas/el/" target="_blank" title=""><img class="img-responsive" src="/images/cyprus.png" alt="Nicosia"></a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            links:
            <ul>
                <li><a href="http://www.ams.org/mathscinet/" target="_blank" title="MathSciNet">MathSciNet</a></li>
                <li><a href="https://arxiv.org/archive/math" target="_blank" title="arXiv">arXiv</a></li>
                <li><a href="http://www.ams.org/home/page" target="_blank" title="AMS">AMS</a></li>
                <li><a href="http://www.euro-math-soc.eu/" target="_blank" title="EMS">EMS</a></li>
                <li><a href="http://www.esi-stat.gr/" target="_blank" title="Greek Statistical Institute">Greek Statistical Institute</a></li>
                <li><a href="http://www.iacm.forth.gr/" target="_blank" title="Institute for Applied and Computational Mathematics">Institute for Applied and Computational Mathematics</a></li>
                <li><a href="http://www.acmac.uoc.gr/" target="_blank" title="Archimedes Center for Modeling, Analysis and Computation">Archimedes Center for Modeling, Analysis and Computation</a></li>
                <li><a href="http://www.hms.gr/" target="_blank" title="Hellenic Mathematical Society">Hellenic Mathematical Society</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js" crossorigin="anonymous" type="text/javascript"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- <li>
        <h4><a href="http://fourier.math.uoc.gr/pcma2016/" target="_blank" title="15th Panhellenic Conference of Mathematical Analysis">15th Panhellenic Conference of Mathematical Analysis</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div><span class="event__details">when:</span> 27-29 May 2016</div>
        <div><span class="event__details">where:</span> University of Crete</div>
    </li> -->
    <script type="text/template" id="tpl-event-item">
        <li>
            <h4><% if (link) { %><a href="<%- link %>" target="_blank" title="<%- title %>"><% } %><%- title %><% if (link) { %></a><% } %></h4>
            <% if (content) { %><p><%= content %></p><% } %>
            <% if (date) { %><div><span class="event__details">when:</span> <%- date %></div><% } %>
            <% if (place) { %><div><span class="event__details">where:</span> <%- place %></div><% } %>
        </li>
    </script>
</body>
</html>
